.class,
.class-value,
.class-desc {
    display: inline-block;
    font-size: 12px; 
    font-family: 'Menlo', 'Consolas', monospace;
}

.class {
    color: #9C27B0;
}

.class.tag {
    padding: 4px 8px;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: inset rgba(225, 190, 231, 0.25) 0 0 0 1px;
}

.class-value {
    color: #008676;
    min-width: 40px;
}

.class-var {
    font-weight: bold;
    color: #008676;
}

.code-toolbar pre[class*="language-"] > code {
    border-left: 10px solid #F9BC00;
    box-shadow: -1px 0px 0px 0px #F9BC00, 0px 0px 0px 1px #dfdfdf;
    background-color: #fdfdfd;
    background-image: linear-gradient(transparent 50%, rgba(249, 188, 209, 0.04) 50%);
    background-size: 3em 3em;
    background-origin: content-box;
    background-attachment: local;
}
