/* ==========================================================================
   Responsive Utility Classes
   ---
   xxs  <=640px
   xs  641px - 767px
   sm  768px - 991px
   md  992px - 1199px
   lg  >=  1200px
   ========================================================================== */

/* CSS From UT */
.hidden-lg-down,
.hidden-xxs-up {
    display: none!important
}

@media (max-width: 640px) {
    .hidden-xxs-down {
        display: none!important
    }
}

@media (min-width: 1200px) {
    .hidden-lg-up {
        display: none!important
    }
}

@media (max-width: 767px) {
    .hidden-xs-down {
        display: none!important
    }
}

@media (min-width: 641px) {
    .hidden-xs-up {
        display:none!important
    }
}

@media (min-width: 768px) {
    .hidden-sm-up {
        display:none!important
    }
}

@media (max-width: 991px) {
    .hidden-sm-down {
        display:none!important
    }
}

@media (min-width: 992px) {
    .hidden-md-up {
        display:none!important
    }
}

@media (max-width: 1199px) {
    .hidden-md-down {
        display:none!important
    }
}