@media screen{
    /* Hide elements that are only visible when printed */
    .printOnly{
        display: none;
    }
}

@media print{
    /* Removes header (including top menu), side menu, footer, back to top button and dev toolbar */
    header,
    .t-Body-nav,
    .t-Body-side,
    .t-Body-actions,
    footer,
    #t_Body_content_offset,
    .t-Body .t-Body-main .t-Body-content .t-Body-topButton,
    #apexDevToolbar {
        display: none !important;
    }

    /* Display elements that are only visible when printed */
    .printOnly{
        display: block;
    }

    /* Hide elements that are only visible on screen */
    .showOnly{
        display: none;
    }

    @import "layout/_navigationPrint";

    /* Removes background image from the body */
    body {
        background-image: none !important;
    }

    /* IRR floating header - Prevent floating */
    .t-IRR-region .js-stickyTableHeader{
        top: 0px !important;
        width: inherit !important;
    }

    .t-Body-content {
        min-height: 0;
    }

    /* Prevent IRR rows from breaking/printing on two pages */
    .t-IRR-region .a-IRR-table tbody tr{
        page-break-inside: avoid;
    }

    /* Display the URLs after all hyperlink elements */
    a:after {
        content: " [" attr(href) "] ";
    }

    .t-Body-contentInner {
        padding: 0;
    }

    .t-Form-labelContainer {
        text-align: left;
    }
}
