.t-PageBody--login {
    /* Back ground Image */
    &.t-PageBody--backgroundImage{
        background: transparent;

        &:before,
        &:after {
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            width: 100%;
            content: "";
        }

        /* adds a transparent white layer above the image */
        &:before {
            background: rgba(255,255,255,.5);
            z-index: -1;
        }

        /* background image */
        &:after {
            background: url('../images/login-bg.jpg');
            background-size: cover;
            z-index: -2;
        }
    }

    /* Login an register Regions base styles */
    .t-Login-region {
        z-index: 10;
        position: relative;
    }

    /* changes the animation so that the login container slides down */
    .t-Alert.login-info {
        @include animation('animSlideDown 1s 1s 1 ease-in-out forwards');
        z-index: 5;
        opacity: 0;
        position: relative;
    }

    /* Change the icon to an image */
    .t-Login-logo {
        background-image: url('../images/code_icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@include keyframes(animSlideDown) {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}