/* Navigation Menu & Bar - Hover Animation */
.t-Button--navBar:hover .t-Icon.a-Icon,
.t-Button--navBar:hover .t-Icon.fa,
.t-TreeNav .a-TreeView-node--topLevel .a-TreeView-content:hover .a-Icon,
.t-TreeNav .a-TreeView-node--topLevel .a-TreeView-content:hover .fa,
.t-NavigationBar-menu .a-Menu-content .a-Menu-item:hover .a-Icon,
.t-NavigationBar-menu .a-Menu-content .a-Menu-item:hover .fa {
  animation: tada 2s linear infinite;
  color: #26cbff;
}

/* Navigation Menu - Active Animation */
.t-TreeNav .a-TreeView-node--topLevel .a-TreeView-content.is-selected .fa,
.t-TreeNav .a-TreeView-node--topLevel .a-TreeView-content.is-selected .a-Icon {
  animation: pulse 2s linear infinite;
  color: #26cbff;
}